<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
    @import url('https://fonts.googleapis.com/css?family=Abel|Galada|Pacifico');
</style>
    <meta charset="utf-8">
    <title>Guess The Number</title>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
      <h1 class="ready">I'm thinking of a number between 1 and 100.</h1>

      <h2><%= guess_prompt %></h2>

      <p><%= guess_description %></p>

      <form action="/play" method="post">
        <label>
          <input class="number" name="guessed_number" placeholder="Enter guess" autofocus />
          <input type = "submit" class="start" value="Guess" />
        </label>
      </form>
  </body>
</html>
