body {
  background-image: url("img/light-bg1.png");
  text-align: center;
}

h1 {
  font-color: red;
  font-family: 'Galada', cursive;
}

.ready {
  font-family: 'Abel', sans-serif;
  font-size: 2em;
  font-color: pink;
}

.number {
  font-size: 1.5em;
  width: 150px;
  height: 30px;
  text-align: center;
}

.start {
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 1.5em;
  display: block;
  background-color: magenta;
  color: black;
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2em;
  line-height: 3.5em;
}